<div class="modal fade" id="segmentModal" tabindex="-1" role="dialog" aria-labelledby="segmentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="segmentModalLabel">Time Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          {% csrf_token %}
          <input type="hidden" name="shift_id" id="id_shift_id"/>
          <input type="hidden" name="employee_id" id="id_employee_id"/>
          <input type="hidden" name="clock_in_id" id="id_clock_in_id"/>
          <input type="hidden" name="clock_out_id" id="id_clock_out_id"/>
          <div class="form-group">
            <label for="id_time_in" class="col-form-label">Clock In:</label>
            <input type="text" class="form-control" name="time_in" id="id_time_in">
          </div>
          <div class="form-group">
            <label for="id_time_out" class="col-form-label">Clock Out:</label>
            <input type="text" class="form-control" name="time_out" id="id_time_out">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Segment</button>
      </div>
    </div>
  </div>
</div>