{% extends 'timeclock/base.html' %}

{% block content %}
<script>$(function() {
    $('#id_loginform').find('input[type=text],input[type=password]').addClass('form-control');
});</script>
<div class="row">
    <div class="col-md-5">
        <p><b>User Login</b></p>
        <form method="post" action="/sclock/" id="id_sclock_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="user_id">User ID:</label>
                <input type="password" class="form-control" name="user_id" id="id_user_id"/>
            </div>
            <input type="submit" class="btn btn-default" value="login">
        </form>
    </div>
    <div class="col-md-5 offset-md-2">
        <p><b>Admin Login</b></p>

        <form method="post" action="{% url 'login' %}" id="id_loginform">
        {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <input type="submit" class="btn btn-default" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
</div>
{% endblock %}