{% extends 'timeclock/base.html' %}

      {% block media %}
      <script type="text/javascript">
        $(function() {
            $('#id_start').datetimepicker({
                format: 'Y-m-d',
                timepicker: false,
                lang: 'en',
            });
            $('#id_end').datetimepicker({
                format: 'Y-m-d',
                timepicker: false,
                lang: 'en',
            });
            $('#exportBtn').click(function() {
              // redirect to export url with start and end dates
              var start_date = $('#id_start').val();
              var end_date = $('#id_end').val();
              var url = `/export/${start_date}/${end_date}/`;
              window.location.href = url;
            });
        });
      </script>
      {% endblock %}
      {% block content %}
      <div class="home-page">
        <h1>MP Time Machine</h1>
        <p class="lead">Employee activity from: </p>
        <div class="row">
          <div class="col-md-7 offset-md-3">
          <form action="" id="date_form" method="post" class="form-inline">
              {% csrf_token %}
              <input type="text" class="form-control" placeholder="start date" value="{{ start|date:"Y-m-d" }}" id="id_start" name="start"/> &nbsp;
            thru &nbsp;
              <input type="text" class="form-control" placeholder="end date" value="{{ end|date:"Y-m-d" }}" id="id_end" name="end"/> &nbsp;
              &nbsp; <input type="submit" class="btn btn-dark" value="Fetch!">
          </form>
          </div>
        </div>
        <div class="row" style="padding-top: 10px;">
          <div class="col-md-8 offset-2">
            <p class="lead"><a href="" class="btn btn-info">All</a>&nbsp; {% for d in departments %}<a href="" class="btn btn-default">{{ d }}</a> {% endfor %}</p>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" id="exportBtn"><span class="oi oi-cloud-download"></span>&nbsp; Export</button>
          </div>
        </div>
        <div class="row">
          <table class="table table-striped table-sm">
            <thead>
              <th>Employee</th>
              <th>Date/Time In</th>
              <th>Date/Time Out</th>
              <th>Hours Worked</th>
            </thead>
            <tbody>
              {% for s in shifts %}
              <tr>
                <td>{% ifchanged s.employee %}{{ s.employee.first_name }} {{ s.employee.last_name }}{% endifchanged %}</td>
                {% with f=s.segment_set.all.first l=s.segment_set.all.last %}
                <td {% if not l.time_out %}class="warning"{% endif %}>{{ f.time_in }}</td>
                <td>{% if l.time_out %}{{ l.time_out }}{% endif %}</td>
                {% endwith %}
                <td>{% if s.total_time_data.seconds < 43200 %}{{ s.total_time }}{% else %}<span class="warning">{{ s.total_time }}</span>{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endblock %}
