{% extends 'timeclock/base.html' %}
    {% block media %}
    <meta http-equiv="refresh" content="15;http://time.mercersburg.net/">
    {% endblock %}
{% block content %}
<div class="row">
	<div class="col-md">
		<h4>Welcome, {{ employee.first_name }}</h4>
	</div>
</div>
<div class="row">
	<div class="col-md">
		<p><i>{{ message }}</i></p>
	</div>
</div>
<div class="row">
	<div class="col-md">
		{% if segments %}
			{% for seg in segments %}
			In: {{ seg.time_in }} - Out: {{ seg.time_out }}<br/>{% endfor %}
		{% endif %}
		{% if active_segments %}
			{% for seg in active_segments %}
			In: {{ seg.time_in }}
			{% endfor%}
			<br/>
			<form action="/ssn_clock/" method="post">
				{% csrf_token %}
				<input type="hidden" name="employee_id" value="{{ employee.id }}">
				<input type="hidden" name="direction" value="out">
				<input type="submit" name="submit" class="btn btn-danger" value="Clock Out">
			</form>
		{% else %}
			<br/>
			<form action="/ssn_clock/" method="post">
				{% csrf_token %}
				<input type="hidden" name="employee_id" value="{{ employee.id }}">
				<input type="hidden" name="direction" value="in">
				<input type="submit" name="submit" class="btn btn-info" value="Clock In">
			</form>
		{% endif %}
	</div>
</div>
{% endblock %}
