{% extends 'timeclock/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md">
		<h4>Welcome, {{ employee.first_name }}</h4>
	</div>
</div>
<div class="row">
	<div class="col-md">
		<p><i>{{ message }}</i></p>
	</div>
</div>
<div class="row">
	<div class="col-md">
		{% if segments %}
			{% for seg in segments %}
			In: {{ seg.time_in }} - Out: {{ seg.time_out }}{% if not forloop.last %}<br/>{% endif %}{% endfor %}
		{% endif %}
		{% if active_segments %}
			{% for seg in active_segments %}
			In: {{ seg.time_in }}
			{% endfor%}
			<form action="/ssn_clock/" method="post">
				{% csrf_token %}
				<input type="hidden" name="employee_id" value="{{ employee.id }}">
				<input type="hidden" name="direction" value="out">
				<input type="submit" name="submit" class="btn btn-danger" value="Clock Out">
			</form>
		{% endif %}
	</div>
</div>
{% endblock %}
